<h1>Timeline</h1>

<div class="timeline">
  <div class="timeline-section">
    <div class="timeline-header">
      <div class="icon completed">
        <mat-icon *ngIf="step === 0" class="completed-icon">assignment_late</mat-icon>
        <mat-icon *ngIf="step > 0" class="completed-icon">assignment_turned_in</mat-icon>
      </div>
      <b>Pending Approval</b>
    </div>
    <div class="timeline-content">
      <div class="line-container">
        <div class="line" [class.completed-line]="step > 0"></div>
      </div>

      <div *ngIf="step === 0" class="content">This request is pending approval.</div>
      <div *ngIf="step > 0" class="content">This request is no longer pending approval.</div>
    </div>
  </div>

  <div class="timeline-section">
    <div class="timeline-header">
      <div class="icon" [class.completed]="step > 0">
        <mat-icon [class.completed-icon]="step > 0">check</mat-icon>
      </div>
      <b>Approved</b>
    </div>
    <div class="timeline-content">
      <div class="line-container">
        <div class="line" [class.completed-line]="step > 1"></div>
      </div>

      <div *ngIf="step > 0" class="content">This request has been approved.</div>
      <div *ngIf="step === 0"class="content">This request is pending approval.</div>
    </div>
  </div>

  <div class="timeline-section">
    <div class="timeline-header">
      <div class="icon" [class.completed]="step > 1">
        <mat-icon [class.completed-icon]="step > 1">print</mat-icon>
      </div>
      <b>Printing</b>
    </div>
    <div class="timeline-content">
      <div class="line-container">
        <div class="line" [class.completed-line]="step > 2"></div>
      </div>

      <div *ngIf="step > 2" class="content">This request has been printed.</div>
      <div *ngIf="step === 2" class="content">This request is printing.</div>
      <div *ngIf="step < 2" class="content">This request is still being processed.</div>
    </div>
  </div>

  <div class="timeline-section">
    <div class="timeline-header">
      <div class="icon" [class.completed]="step > 2">
        <mat-icon [class.completed-icon]="step > 2">directions_bike</mat-icon>
      </div>
      <b>Out for Delivery</b>
    </div>
    <div class="timeline-content">
      <div class="line-container">
      </div>

      <div *ngIf="step === 3" class="content">This request is out for delivery.</div>
      <div *ngIf="step < 3" class="content">This request is still being processed.</div>
    </div>
  </div>
</div>
